.title-cadastro{
    color: ghostwhite
}

.form-cadastro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 75%;
    margin-bottom: 18%;
}

.nomes{
    display: flex;
    gap: 20px;
    width: 100%;
}

.email-cadastro, .nome-cadastro, .sobrenome-cadastro, .senha-cadastro, .confirm-senha-cadastro{
    width: 100%;
    padding: 0 0 10px 5px;
}

.cadastro-eye-icon{
    position: absolute;
    top: 44%;
    right: 15%;
    cursor: pointer;
}

.second-cadastro-eye-icon{
    position: absolute;
    bottom: 36.5%;
    right: 15%;
    cursor: pointer;
}
.btn-cadastro{
    width: 65%;
    min-height: 5vh;
    padding-bottom: 10%;
}

.cadastro-seend-button{
    height: 100%;
}

.comentary{
    color: ghostwhite;
}