/* .form-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs{
    width: 23vw;
    padding-bottom: 40%;
}

.second-eye-icon, .eye-icon{
    position: absolute;
}

.eye-icon{
    bottom: 52%;
    left: 23%;
}

.second-eye-icon{
    bottom: 38%;
    right: 14.5%;
    cursor: pointer;
}

.cad-btn{
    width: 60%;
    height: 30%;
    background-color: transparent;
    border: 2px solid ghostwhite;
    cursor: pointer;
    border: 2px solid #ffffff8c;
    border-radius: 15px;
    color: ghostwhite;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    transition-duration: .4s;
}

.cad-btn:hover{
    scale: 1.01;
    letter-spacing: 10px;
    border: 2px solid rgba(0, 0, 0, 0.555);
    color:rgba(0, 0, 0, 0.555);
} */