.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.logo{
    height: 90%;
    cursor: pointer;
    transition-duration: .3s;
}

.logo:hover{
    scale: 1.05;
}

.links-shop{
    color: ghostwhite;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition-duration: .4s;
}

.links-shop:hover{
    border-bottom: 2px solid rgb(201, 3, 3);
    letter-spacing: 5px;
}


.carrinho-shop{
    display: flex;
    padding-left: 0.7%;
    align-items: center;
    min-width: 3.2vw;
    min-height: 6.5vh;
    background-color: rgba(201, 3, 3, 0.589);
    border-radius: 50%;
    position: absolute;
    right: 11%;
    top: 4%;
}

.carrinho{
    width: 1.2vw;
    cursor: pointer;
    transition-duration: .3s;   
}

.carrinho-item{
    color: ghostwhite;
    position: absolute;
    right: 15%;
    top: 20%;
}

.carrinho:hover{
    scale: 1.05;
}
