.store-footer{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100vw;
}

footer{
    background-color: rgba(0, 0, 0); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 18vh;
    margin-top: 2.2vh;
}

.description-content{
    color: ghostwhite;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.description{
    opacity: .8;
    transition-duration: .2s;
    cursor: pointer;
}

.description:hover{
    opacity: 1;
    scale: 1.009;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais-icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: ghostwhite;
    text-align: center;
}

.redes-sociais-icons .icons{
    display: flex;
    gap: 15px;
}

.icon{
    box-shadow: 1px 1px 10px rgba(248, 248, 255, 0.295);
    border-radius: 50%;
}

.horizontal-line{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 61);
    min-height: 4vh;
    font-size: 13px;
    color: rgba(248, 248, 255, 0.733);
}

.copyright{
    opacity: .8;
    transition-duration: .1s;
    border-bottom: 1px solid transparent;
}

.copyright:hover{
    opacity: 1;
    border-bottom: 1px solid #fff;
}