*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input::placeholder{
    color:rgba(0, 0, 0, 0.3);
    font-family: arial;
    font-size: 17px;
}
.compra-produto-container{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;  
    justify-content: flex-start; 
    align-items: center;
    gap: 4%;
}

.compra{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.compra-produto-description{
    font-size: 18px;
    font-family: 'Dela Gothic One';
    letter-spacing: 2px;
}

.compra-price{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
    text-align: center;
}

.compra-produto-content{
    width: 40vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
}

.produto-imagem{
    box-shadow: 10x 10x 10x black;
}

.formulario{
    height: 65vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 3%;
}

.compra-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
}
.input{
    padding: 10px;
    width: 15vw;
    height: 4vh;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: 2px 2px 15px #00000065;
    font-size: 16px;
}

.number-complement, .number-cvc{
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
    width: 88%;
    gap: 10px;
}

.input-numero, .input-complemento, .input-validade, .input-cvc{
    width: 100%;
}


.btns{
    display: flex;
    gap: 10%;
}

.final-btn{
    width: 8vw;
    height: 4.5vh;
    border-radius: 10px;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    transition-duration: .2s;
    cursor: pointer;
    margin-top: 50px;
}

.avancar:hover{
    background-color: rgba(17, 116, 17, 0.872) !important;
}

.final-btn:hover{
    border: 2px solid transparent;;
    background-color: rgb(102, 3, 3);
    color: ghostwhite;
    letter-spacing: 6px;
}

.pagamento:hover{
    background-color: rgb(51, 133, 35);

}

.voltar-button{
    width: 3vw;
    height: 4vh;
    position:absolute;
    left: 62%;
    top: 40%;
    cursor: pointer;
    opacity: 1;
    fill: black;
    transition-duration: .2s;
}

.voltar-button:hover{
    fill:rgb(51, 133, 35);
    scale: 1.05;
    opacity: 1;
}




input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}