*{
    margin: 0;
    padding: 0;
}

.section1{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/bg-introduction-store.jpg')
}

.content{
    margin-top: 15%;
    height: 20vh;
    width: 68%;
    padding-left: 3%;
    display: grid;
    gap: 30px;
}
.intro-store-title{
    color: ghostwhite;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 5rem;
    text-align: left;
}

.intro-content{
    font-size: 20px;
    text-align: left;
    padding-left: 5%;
    color: ghostwhite;
}

.shop-now-btn{
    height: 5vh;
    width: 10vw;
    margin: 2% 0 0 3%;  
    font-size: large;
    letter-spacing: 3px;
    background-color: rgba(201, 3, 3, 0.692);
    color: ghostwhite;
    border: transparent;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .3s;
}

.shop-now-btn:hover{
    scale: 1.05;
    border: 3px solid rgba(201, 3, 3, 0.795);
    background-color: transparent;
}