*{
    margin: 0;
    padding: 0;
}

.individual-produto-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}


.produto-container{
    display: flex;
    gap: 2%;
}

.produto-content{
    background-color: rgb(240, 240, 240);
    box-shadow: 3px 3px 30px rgba(128, 128, 128, 0.466);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 40vw;
    gap: 5vh;
}

.produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22vw;
    padding: 30px;
    box-shadow: 3px 3px 30px rgba(99, 98, 98, 0.466) ;
    gap: 17%;
}

.produto-imagem{
    box-sizing: border-box;
    height: 75%;
}
.produto-description{
    font-size: 17px;
    font-family: 'Dela Gothic One';
}

.company{
    padding-bottom: 2px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
    opacity: 1;
    transition-duration: .2s;
}

.company:hover{
    opacity: .8;
    letter-spacing: 2px;
}

.prices{
    display: grid;
    place-items: center;
    padding-bottom: 20%;
    gap: 5px;
    border: 2px solid rgba(44, 44, 44, 0.774);
    border-radius: 10px;
    padding: 10px;
}   

.select-drescription{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}
.quantidade, .tamanho{
    gap: 10px;
}

.quantidade{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.touch-elements{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-left: 30%;
    border-radius: 10px;
}
.quantidade-numero{
    height: 4vh;
    width: 2vw;
    background-color: rgba(211, 211, 211, 0.418);
    display: grid;
    place-items: center;
    font-weight: 500;
}
.positivo-button, .negativo-button{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.658);
    height: 4vh;
    width: 2vw;
    color: rgba(0, 0, 0, 0.758);
    font-size: 20px;
    cursor: pointer;
}

.tamanho{  
    display: grid;
    justify-content: left;
    align-items: flex-start;
    font-weight: bold;
}

.size-btns{
    display: flex;
    gap: 5px;
}

.btn{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.658);
    height: 5vh;
    width: 2.5vw;
    color: rgba(0, 0, 0, 0.758);
    text-align: center;
    cursor: pointer;
    transition-duration: .3s;
}

.active{
    background-color: black;
    border: none;
    height: 5vh;
    width: 2.5vw;
    color: ghostwhite;
    text-align: center;
    cursor: pointer;
    transition-duration: .3s;
}

.btn:hover, .active:hover{
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.568);
    border-radius: 5px;
}

.buy-btn{
    width: 12vw;
    height: 4.5vh;
    border-radius: 10px;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    transition-duration: .2s;
    cursor: pointer;
}

.buy-btn:hover{
    border: 2px solid transparent;;
    background-color: rgb(102, 3, 3);
    color: ghostwhite;
    letter-spacing: 6px;

}